/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 mars 2018, 16:34:39
    Author     : lucie2
*/

#synopsis{
    color: blueviolet
}

#BA{
    background-color: gray;
}

#accueil{
 
}